Source: openjade
Section: text
Priority: optional
Maintainer: Adam Di Carlo <aph@debian.org>
Standards-Version: 3.0.1

Package: opensp
Architecture: any
Depends: ${shlibs-opensp:Depends}, ${libosp1:ShlibVersion}, sgml-base
Suggests: doc-base, sgml-data
Description: OpenJade group's SGML parsing tools
 This package is a collection of SGML/XML tools called OpenSP.
 It is a fork from James Clark's SP suite.
 .
 These tools are used to parse, validate, and normalize SGML and XML
 files.  The central programs included in this package are 'onsgmls',
 which replaces sgmls, 'ospam', 'ospent', 'osgmlnorm', and 'osgml2xml'.

Package: libosp1
Architecture: any
Depends: ${shlibs-libosp1:Depends}
Description: Runtime library for OpenJade group's SP suite
 This is the SP suite's shared library runtime support.  This C++
 library contains entity management functions, parsing functions, and
 other functions useful for SGML/XML/DSSSL development.
 .
 This shared library is used by the opensp and openjade packages.

Package: libosp1-dev
Architecture: any
Depends: ${libosp1:Version}, libc6-dev, libstdc++-dev
Recommends: c++-compiler
Description: OpenJade group's SP suite, developer support
 This contains include files and the static library for libosp1.
 This C++ library contains entity management functions, parsing functions,
 and other functions useful for SGML/XML/DSSSL development. 

Package: openjade
Architecture: any
Depends: ${shlibs-openjade:Depends}, ${libosp1:ShlibVersion}, sgml-base
Suggests: doc-base, sgml-data, opensp, jadetex
Description: OpenJade group's DSSSL Engine
 OpenJade is an implementation of the DSSSL style language.
 It is a fork from James Clark's Jade implementation.
 .
 The openjade engine is a useful tool (in conjunction with a DSSSL style 
 sheet) for translating SGML documents into other formats.  OpenJade can 
 currently generate SGML, RTF, and TeX.  In conjunction with the "jadetex"
 TeX style, it can generate quite nice output.

