Source: openjade
Section: text
Priority: optional
Maintainer: Adam Di Carlo <aph@debian.org>
Standards-Version: 3.5.0
Build-Depends: libosp-dev (>= 1.5pre4-1), debhelper, automake, libtool, gettext

Package: openjade
Architecture: any
Depends: ${shlibs:Depends}, sgml-base
Suggests: doc-base, sgml-data
Description: Implementation of the DSSSL language
 OpenJade is an implementation of the ISO/IEC 10179:1996 standard
 DSSSL language.  It is based on James Clark's Jade software.
 .
 The OpenJade processor, in conjunction with a DSSSL style sheet, is
 capable of translating SGML documents into other formats.  Output
 formats currently supported are RTF, HTML, MIF, JadeTeX, or an XML
 representation of the flow object tree.  Using it's own non-standard
 system, it is also capable of transforming one SGML or XML DTD to
 another.
 .
 Author:   The OpenJade Team <jade-devel@infomansol.com>
 Homepage: http://openjade.sourceforge.net/

Package: libostyle0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Runtime libraries for OpenJade
 OpenJade's shared libraries, runtime support.  Includes libogrove,
 providing an abstract interface to groves; libospgrove, an interface
 to groves on top of the OpenSP suite; and libostyle, the actual DSSSL
 style engine.
 .
 This shared library is used by the openjade package.

Package: libostyle-dev
Architecture: any
Section: devel
Depends: ${libostyle:Version}, libc6-dev, libstdc++-dev
Recommends: c++-compiler
Description: OpenJade libraries, developer support
 Contains include files and the static library for libogrove,
 libospgrove, and libostyle.  This is useful for those developing on
 top of the OpenJade grove or DSSSL engine.

